.navbar-color{
	color: #fff !important;
	background-color: #0e2740 !important;
}

.content-body{
	background-color: #171c2d;
}

.cart-button{
	color: #fff !important;
	background-color: #0e2740 !important;
}

.card-content{
	background-color: #f4f1f1 !important;
}